<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage</title>
    <link rel="stylesheet" href="css/manage.css">
    <link rel="icon" type="image/png" href="pics/login.svg" />
    <link rel="shortcut icon" type="image/png" href="pics/login.svg" />
</head>
<body>
    <div class="content">
        <form class="register-box">
            <div class="btn-container"> 
                <a class="circle-btn" href="home.html">Homepage</a>
            </div>
            <br>
            <h1>Manage your information</h1>
            <br>
            <div class="output-frame">
                <label for="username">E-mail</label>
                <input type="text" id="email" autofocus>
            </div>
            <div class="output-frame">
                <label for="email">Username</label>
                <input type="text" id="username">
            </div>
            <div class="output-frame">
                <label for="email">Address</label>
                <input type="text" id="address">
            </div>
            <br>
            <br>
    
            <div class="output-frame">
                <label for="password">Password</label>
                <input type="text" id="password">
            </div>
            
            <button class="register-btn">Subbmit</button>
        </form>
    </div>
</body>
</html>