<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" href="css/register.css">
    <link rel="icon" type="image/png" href="pictures/login.svg" />
    <link rel="shortcut icon" type="image/png" href="pics/login.svg" />

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.1.min.js" ></script>

</head>
<body>
    <div class="content">
        <form class="register-box">
            <div class="btn-container"> 
                <a class="circle-btn" href="homepage">Homepage</a>
            </div>
            <h1>SIGN UP</h1>
            <div class="output-frame">
                <label for="username">name</label>
                <input type="text" id="username" autofocus>
            </div>
            <div class="output-frame">
                <label for="email">E-mail</label>
                <input type="text" id="email" autofocus>
            </div>
            <div class="output-frame">
                <label for="password">Password</label>
                <input type="text" id="password">
            </div>

            <!-- 点击注册按钮之后，判断是否存在重复的用户名，若存在，则弹窗提示重新输入，否则跳转到个人信息界面“pi.html” -->
            <button class="register-btn" onclick="regis()">Register</button>
        </form>
        <script>
            function regis(){
                event.preventDefault();
                var name=document.getElementById("username").value;
                var email=document.getElementById("password").value;
                var pw=document.getElementById("password").value;
                var sendMess={"name":name,"password":pw,"email":email};
                $.ajax({
                    url : "http://localhost:8080/adduser",
                    type : "POST",
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify(sendMess),
                    async : false,
                    success : function(response) {
                        // var res=JSON.parse(response);
                        // console.log(res);
                        console.log(response);
                        if(response.id==1){
                            alert("register successfully!");
                            window.location.href = "http://localhost:8080/login";
                        }
                        else{
                            alert("repeated username!");
                        }
                    }});
            }
        </script>
    </div>
</body>
</html>