<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group7.depsys.mapper.PlacePointMapper">
    <select id="selectAllPlaces" resultType="com.group7.depsys.entity.PlacePoint">
        SELECT json_build_object(
                       'type','FeatureCollection',
                       'features', json_agg(st_AsGeoJSON(t.*)::json)
                   ) from public.gis_osm_places_free_1 as t where t.fclass=#{type};
    </select>
</mapper>